/* CSS file */
CheckBox {
   textIndent: 1;
   letterSpacing: 0;
   fillColors: #ffffff, #66cc00, #ffffff, #99cc33;
   borderColor: #99cc66;
   color: #000000;
   textSelectedColor: #000000;
   textRollOverColor: #006600;
   themeColor: #ffcc00;
   fontSize: 10;
   fontWeight: normal;
}

ComboBox {
   cornerRadius: 2;
   color: #000000;
   borderColor: #99cc66;
   fillColors: #ffffff, #66cc00, #ffffff, #99cc33;
   selectionColor: #ffffcc;
   textSelectedColor: #006600;
   textRollOverColor: #006600;
   themeColor: #ffcc00;
   openDuration: 110;
   closeDuration: 107;
   textAlign: left;
   fontSize: 10;
   fontWeight: normal;
   letterSpacing: 0;
   dropDownStyleName: "myComboBoxDropDowns";
}

.myComboBoxDropDowns {
   cornerRadius: 0;
   borderThickness: 0;
   borderColor: #99cc66;
   color: #000000;
   fontSize: 10;
   fontWeight: normal;
   fontStyle: normal;
   textDecoration: none;
}

TextInput {
   borderStyle: inset;
   borderColor: #99cc66;
   backgroundAlpha: 1;
   color: #000000;
   paddingLeft: 1;
   paddingRight: 2;
   fontSize: 10;
   fontWeight: normal;
   dropShadowEnabled: false;
   shadowDirection: right;
   shadowDistance: 0;
}

TextArea {
   fontSize: 10;
   color: #000000;
   fontWeight: normal;
   paddingLeft: 2;
   paddingRight: 2;
   textIndent: 0;
   borderStyle: inset;
   borderColor: #99cc66;
}

RadioButton {
   textIndent: 1;
   fillColors: #ffffff, #66cc00, #ffffff, #99cc33;
   borderColor: #99cc66;
   color: #000000;
   textSelectedColor: #000000;
   textRollOverColor: #006600;
   themeColor: #ffcc00;
   fontSize: 10;
   fontWeight: normal;
}

NumericStepper {
   borderColor: #99cc66;
   cornerRadius: 2;
   fillColors: #ffffff, #66cc00, #ffffff, #99cc33;
   color: #000000;
   themeColor: #ffcc00;
   fontSize: 10;
}

ToolTip {
   backgroundAlpha: 0.3;
   backgroundColor: #ffffff;
   color: #000000;
}
